/* --Global styles */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    height :100vh;
    background:greenyellow;
}
.memory-game{
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #5eff00;   
}
.memory-card{
    width:calc(25% - 10px);
    height: auto;
    margin: 5px;
    position: relative;
}
.front-face,
.back-face {
    width :100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    border: 2px solid rgb(255, 0, 34);  

}

