/* --Global styles */
@font-face {
    font-family: 'Immortal';
    src:  url('../fonts/IMMORTAL.ttf') format('woff2'),
          url('../fonts/IMMORTAL.ttf') format('woff');
  }
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    
    background:#afdf9f;
    
}
.landing-bg-image {
    background: url('../images/dinosaur-front-page.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
  }
  .button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    position: absolute;
    right: 10%;
    bottom: 26%;
    padding: 30px;
  }
  /*
#instructions{
    font-family:Immortal, serif;
    font-size: 20px;
    
}
#play{
    font-family:Immortal,serif;
    font-size: 20px;
    
}

#timer{
    font-family:Immortal,serif;
    font-size: 20px;
    
}
#flips{
    font-family:Immortal, serif;
    font-size: 20px;
    
}

#game-over {
    display:none;
    font-family:Immortal;
    font-size: 20px;
}
#game-over.visible {
    display:flex;
}
#winner{
    display:none;
    font-family:Immortal;
    font-size: 20px;
}
#winner.visible{
    display: flex;
}
*/

.foreground-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: Immortal, serif;
    color:aqua
  }
  .foreground-text.visible {
    display: flex;
    flex-direction: column;
    animation: foreground-grow 500ms forwards;
}

#instructions-text {
    margin-left: 33%;
    margin-right: 33%;
    justify-content: center;
    font-family: Immortal, serif;
    
  }
  


@keyframes foreground-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 1em;
  }
}

.game-info-container{
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}
.game-info {
    font-family: Immortal, serif;
    font-size:2em;
}
.memory-game{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 1000px;

}
.memory-card{
    width:160px;
    height: 125px;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .7s;
}
.memory-card:hover {
    transform: scale(0.97);
    transition:transform .2s;
}
.memory-card.flip {
   transform:rotateY(180deg);

}



.front-face,
.back-face {
    width :100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    border: 2px solid rgb(255 229 0);
    background: #f6c911;
    backface-visibility: hidden;
    

}
.front-face{
    transform: rotateY(180deg);
}



@media (max-width: 600px) {
    .memory-game {
      grid-template-columns: repeat(2, auto);
    }
  
    .game-info-container {
      flex-direction: column;
      align-items: center;
    }
  }